# FILES REQUIRED TO BE LEFT UNTRACKED BY GIT

# Secret Keys
keys



build/Release
**/node_modules/**

package-lock.json
.npm
.eslintcache
*.zip
*.tar
*.gz
*.jar

*.tgz
*.exe
*.dll
*.class
*.so

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


**/.DS_STORE
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
*.lnk
Thumbs.db
ehthumbs.db
Desktop.ini


.yarn-integrity

pids
*.pid
*.seed
*.pid.lock
.eslintcache
.lock-wscript
.next
.vscode/
.vs
.code
typings

QSTemp/
encrypt.js
.csr
.cer
.der
.crt
.p7b
.p7r
.spc
.pfx
.p12
.pem
.key

keys
.env
credentials.yaml
cloud_sql_proxy
start.sh