#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.disabled {
  cursor: not-allowed;
  pointer-events: none;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.contact-button{
  background-color: #ccc;
}


/* src/App.css */
.app-container {
  padding: 20px;
  font-family: sans-serif;
}

.filters {
  margin-bottom: 20px;
}

.filters input {
  margin-right: 10px;
  padding: 8px;
  font-size: 14px;
}
.filters span {
  margin-right: 5px;
}

.error {
  color: red;
  margin-top: 10px;
}
